* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

h4 {
  color: gold;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  flex-wrap: wrap;
}

ul li {
  width: 20%;
  text-align: center;
  margin: 20px 0px;
}

